
html {
    scroll-behavior: smooth;
}

body {
    // font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-family: "Roboto Condensed", system-ui, -apple-system, sans-serif;
    font-weight: 300;
    background-color: #0d1221;
    color: #ffffff;
    overflow-y: overlay;
}

body, p {
    margin: 0;
    padding: 0;
}

iframe {
    border: 1px solid rgba(255,255,255,0.1);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.3;
}
