@mixin res-phone {
    @media (min-width: 320px) { @content };
}

@mixin res-tablet {
    @media (min-width: 768px) { @content };
}

@mixin res-desktop {
    @media (min-width: 1024px) { @content };
}

@mixin text-hover-effect {
    position: relative;

    &:after {
        content: "";
        height: 1px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.5);

        position: absolute;
        bottom: 0;
        left: 0;

        transition: transform 0.4s ease-out;
        transform: scale(0)
    }

    &:hover:after {
        transform: scale(1)
    }
}
