html {
    scroll-behavior: smooth;
    overflow-y: overlay;
}

body {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    background-color: #0d1221;
    color: #ffffff;
}

body, p {
    margin: 0;
    padding: 0;
}

a, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}
